.section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.section >div{
    width: 95%;
    height: calc(100vh - 15vh);
    max-width: 100rem;
    padding: 2rem;
    border-radius: 2rem;
background-color: black;
}